/* src/pages/splash/splash.css */

body,
html {
  overflow: hidden;
}

.splash {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

@media (prefers-color-scheme: dark) {
  body.splash-page {
    background-color: #d0d9d9 !important;
  }
}