/* src/components/inputs/InputField.css */

body {
  overflow-y: auto; /* keyboard */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: -15vh;
}

.input-static-text {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  height: 100px;
  line-height: 100px;
  margin-bottom: 0px;
  color: black;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid black;
  border-radius: 50px;
  height: 110px;
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  margin-top: 20px;
}

.input-field {
  flex: 1;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 40px;
  border: none;
  outline: none;
  height: 95%;
  padding-left: 10px;
  border-radius: 20px;
}

.next-button {
  background-color: black;
  color: white;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 60px;
  width: 90px;
  height: 70px;
  line-height: 50px;
  text-align: center;
  margin-right: 0px;
  padding: 0;
}

.next-button:hover {
  background-color: rgb(69, 68, 71);
}