/* src/pages/student/keyword-learning/keyword-solve.css */

body {
  overflow: hidden;
}

.result-container {
  display: flex;
  height: 80vh;
  gap: 2rem;
  padding: 2rem;
  margin-top: 18vh;
  margin-bottom: 5vh;
  font-size: 2rem;
}

.result-container h2 {
  font-size: 25px;
  text-align: center;
}

.result-container p {
  font-size: 18px;
  text-align: justify;
}

.result-left,
.result-right {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 15px;
  border: 1px solid #ddd;
  overflow-y: auto;
  transition: box-shadow 0.3s ease;
}

.result-left {
  flex: 3;
  max-height: 60vw;
  margin-right: 1rem;
  padding-right: 2rem;
}

.result-right {
  flex: 2;
}

.result-left h2,
.result-right h2 {
  margin: 0;
  font-size: 25px;
}

.result-left p {
  white-space: pre-wrap;
}

.result-right h3 {
  font-size: 24px;
  margin-top: 0px;
}

.question-text p {
  font-size: 18px;
}

.option-button-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0;
}

.option-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: 0.5px solid #ccc;
  border-radius: 15px;
  background-color: var(--blue-color-5);
  cursor: pointer;
  text-align: left;
}

.option-button:hover {
  background-color: var(--keyword-button-hover-color);
}

.option-button.selected {
  background-color: var(--keyword-button-hover-color);
  font-weight: bold;
  border: none;
}

.highlighted-text  {
  font-weight: bold;
  cursor: pointer;
  white-space: pre-wrap;
}

.question-submit-wrapper {
  text-align: right;
}

.question-submit-btn {
  width: 120px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: var(--keyword-button-hover-color);
  padding: 0px;
  white-space: nowrap;
}

.question-submit-btn:hover {
  background-color: var(--blue-color-3);
}

.question-submit-btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.8;
}

.highlight-toast {
  background-color: #7aaee0 !important;
  color: white !important;
  border-radius: 20px !important;
  width: 450px !important;
  height: 50px !important;
  align-items: center;
  justify-content: space-between;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .result-left, .result-right {
    background-color: var(--dark-mode-main-color);
    color: var(--bg-color);
  }

  .option-button {
    background-color: var(--dark-mode-button-color);
    color: var(--main-gray-color);
    cursor: pointer;
    text-align: left;
    border: none;
  }

  .option-button.selected {
    background-color: var(--keyword-button-hover-color);
    font-weight: bold;
    border: none;
  }

  .question-submit-btn {
    background-color: var(--keyword-button-hover-color);
    color: var(--text-color);
    font-weight: bold;
  }
}