/* src/pages/student/keyword-learning/keyword-score.css */

.score-header h2 {
  font-size: 16px;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.score-box-left p {
  text-align: justify;
}

.score-table {
  max-width: 90vw;
  width: 100% !important;
  border-collapse: collapse;
  margin-top: 1.0rem;
  table-layout: fixed;
}

.score-table th {
  max-height: 3vh;
}

.score-table td {
  max-height: 3vh;
}

.score-table th,
.score-table td {
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.score-table tbody tr {
  background-color: transparent !important;
}

/* score table column width */
.col-no { width: 5% !important; }
.col-my-answer { width: 10% !important; }
.col-correct-answer { width: 10% !important; }
.col-result { width: 10% !important; }
.col-solution { width: 15% !important; }

.solution-view-btn {
  background-color: var(--blue-color-5);
  border: none;
  cursor: pointer;
}

.solution-view-btn:hover {
  background-color: var(--keyword-button-hover-color);
}

.solution-modal-content {
  min-width: 80vw;
  padding: 5rem;
}

.solution-modal-left-question li {
  margin-bottom: 1.3rem;
}

.solution-modal-right-solution {
  gap: 1rem;
  min-height: 30vh;
  justify-content: center;
  display: grid;
  text-align: center;
}

.solution-close-btn {
  border: none;
  max-height: 6vh;
  padding: 0 0;
  background-color: var(--blue-color-5);
}

.solution-close-btn:hover {
  background-color: var(--keyword-button-hover-color);
}

@media (prefers-color-scheme: dark) {
  .solution-view-btn {
    background-color: var(--dark-mode-button-color);
  }

  .score-table th {
    background-color: var(--blue-color-4);
    color: var(--text-color);
  }

  .score-table td {
    background-color: var(--dark-mode-main-color);
    color: var(--bg-color);
  }

  .solution-modal-content {
    background-color: var(--dark-mode-main-color) !important;
    color: var(--bg-color);
  }
}