/* src/pages/teacher/highlights/highlight-table.css */

.highlights-overview-table-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.highlights-overview-table {
  width: 100%;
  table-layout: fixed;
  font-size: 1rem;
  border-collapse: collapse;
}

.highlights-overview-table thead tr {
  background-color: var(--blue-color-3, #cce4ff);
  color: black;
  text-align: center;
}

.table-body-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
  max-height: calc(80vh - 120px);
  overflow-x: hidden;
}

.highlights-overview-table th,
.highlights-overview-table td {
  padding: 8px 0 8px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* column width */
.highlights-overview-table th:nth-child(1), .highlights-overview-table td:nth-child(1) { width: 0.8vw; } /* No. */

.highlights-overview-table th:nth-child(2), .highlights-overview-table td:nth-child(2) {
  width: 6.0vw;
  white-space: normal;
  word-break: break-word;
} /* 하이라이트 */

.highlights-overview-table th:nth-child(3), .highlights-overview-table td:nth-child(3) { width: 1.6vw; } /* highlight label */
.highlights-overview-table th:nth-child(4), .highlights-overview-table td:nth-child(4) { width: 1.0vw; } /* screenshot image */

.highlights-overview-table td:nth-child(2) {
  padding-left: 5px;
  padding-right: 5px;
}

/* highlight screenshot image modal */
.highlight-image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-y: auto;
}

.highlight-image-modal .modal-content {
  background: #f3f6f9;
  padding: 20px;
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-image-modal img {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
  margin-top: 10px;
}

.modal-download-wrapper {
  margin-top: 10px;
  text-align: center;
}

.download-button {
  padding: 8px 15px;
  background-color: var(--blue-color-2);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}

.download-button:hover {
  background-color: var(--blue-color-3);
}