/* src/pages/student/records/student-records.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.records-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.records-container {
  flex: 1 1 auto;
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  border: 1px solid #ccc;
  margin-top: 15vh;
  background: #fff;
  padding-top: 0vh;
  box-sizing: border-box;
  max-height: calc(100vh - 18vh);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  table-layout: fixed;
}

thead {
  background-color: var(--blue-color-3);
  color: black;
  text-align: center;
  position: sticky;
  top: 0vh;
  z-index: 10;
}

tbody {
  overflow-y: auto;
  background: white;
  max-height: none;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #e3e1e1;
  padding: 8px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tbody tr, tbody td {
  position: static;
  z-index: auto;
}

tbody tr:nth-child(even) {
  background-color: var(--blue-color-5);
}

tbody tr:hover {
  background-color: var(--blue-color-5);
}

td {
  white-space: pre-wrap;
  word-break: break-word;
}

/* table column width */
th:nth-child(1), td:nth-child(1) { width: 0.5vw; }      /* No. */
th:nth-child(2), td:nth-child(2) { width: 4vw; }        /* 키워드 */
th:nth-child(3), td:nth-child(3) { width: 1vw; }        /* 난이도 */
th:nth-child(4), td:nth-child(4) { width: 5vw; }        /* 제목 */
th:nth-child(5), td:nth-child(5) { width: 13vw; }       /* 지문 */
th:nth-child(6), td:nth-child(6) { width: 2.2vw; }      /* 풀이 시간 */
th:nth-child(7), td:nth-child(7) { width: 2.5vw; }      /* 풀이 결과 */

.answer-correct {
  color: green;
}

.answer-incorrect {
  color: red;
}

@media (prefers-color-scheme: dark) {
  .solution-view-btn {
    background-color: var(--dark-mode-button-color);
  }

  th {
    background-color: var(--blue-color-4);
    color: var(--text-color);
  }

  td {
    background-color: var(--dark-mode-main-color);
    color: var(--bg-color);
  }

  tbody tr:nth-child(even) {
    background-color: transparent;
  }

  .answer-correct {
    color: #007e33;
  }

  .answer-incorrect {
    color: #c62828;
  }
}