/* src/pages/student/header/student-header.css */

@import '@/styles/theme.css';

.student-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 0 20px;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

.student-header-info {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: black;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 10px;
}

.student-header-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-grow: 0;
  margin-right: 10px;
}

.student-header-buttons button {
  padding: 8px 20px;
  background-color: var(--gray-button-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.student-header-buttons button:hover {
  background-color: var(--gray-button-hover-color);
}

@media (prefers-color-scheme: dark) {
  .student-header {
    background-color: var(--dark-mode-main-color);
  }

  .student-header-buttons button {
    background-color: var(--dark-mode-button-color);
  }
}